

@font-face {
    font-family: 'AvenirNextLTPro';
    src: url('../Font/AvenirNextLTPro-Regular.woff') format("woff"),
    url('../Font/alternativefiles/AvenirNextLTPro.ttf') format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: 'AvenirNextLTPro';
    src: url('../Font/AvenirNextLTPro-Demi.woff') format("woff");
    font-weight: 600;
}

@font-face {
    font-family: 'AvenirNextLTPro';
    src: url('../Font/AvenirNextLTPro-Bold.woff') format("woff");
    font-weight: 700;
}

