@use 'mixins' as *;

.footer {
    background-color: #323232;
    background-size: cover;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
    padding-left: 1rem;


    @include tablet {

    }

    @include desktop {

    }
    &-container{
        
        
    }   

    &__title{
        @include mobile-text-section-header;
    }

    &-social-icons{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    &__icons{
        margin-right: 2rem;
        margin-bottom: 1rem;
    }

    &-container__contact{
        @include mobile-text-footer;

        @include tablet {
            @include desktab-footer;
        }
    
        
    
    }

        
    &__logo{
        font-weight: 400;
        font-size: 24px;
        margin-bottom: 0;
    }

    &__copyright{
        @include mobile-text-footer;
    }
}


