@use 'mixins' as *;


.header{
    background-color: #323232;
    background-size: cover;
    width: 100%;
    display: flex;
    color: white;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 80px;

    @include tablet{
        flex-direction: row;
        justify-content: flex-start;
        padding-left: 2.25rem;
        padding-right: 2.25rem;
    }

    @include desktop{
        position: relative;
        flex-direction: row;
        
    }


    &__title{
        font-weight: 400;
        line-height: 20px;
        font-family: 'AvenirNextLTPro';
        font-size: 24px;
        display: flex;
        margin: 0;
        padding-top: 16px;
        justify-content: center; 


        @include tablet {
            align-items: center;
            padding-right: 72px;
            padding-top: 0px;
        }
        @include desktop{
            align-items: center;
        }
    }


    &-list-container{
        display: flex;
        padding-inline-start: 0px;
        margin: 0;
        justify-content:space-around;
        align-items: center;
        
        @include tablet {
            margin-bottom: 0rem;
            
        }
        
    }

    &__list{
        line-height: 40px;
        list-style: none;
        
        @include tablet {
        padding-right: 36px;
            
            
        }
        @include desktop{
            padding-right: 48px;
        }
    }
    
    &__divider{
        stroke-width: 1px;
        fill: #e1e1e1;
    }
    
}

