@use 'mixins' as *;


.hero__bio{
    background-image: url(/assets/Images/hero-bio.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    height: 24vh;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
    width: 100%;

}

.hero__shows{
    background-image: url(/assets/Images/hero-shows.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    height: 40vh;
    position: relative;
    z-index: 1;
    width: 100%;  
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

        @include tablet {
        height: 70vh;
        background-position: center,
        }

        @include desktop {
            justify-content: center;
            background-position: top 30% center ;
        height: 85vh;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        }
    


    &-subtitle{
        @include mobile-text-subheader;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        margin: 0;
        color: white;
        z-index: 3;
        font-weight: 400;

        @include tablet{
            @include desktab-subheader;
            padding-left: 2.25rem;
            padding-right: 2.25rem;
        }

        @include desktop{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        padding-left: 0;
        padding-right: 0;
        }
    }

    &-title{
        margin: 0;
       color: white;
       z-index: 3;
        padding-left: 1rem;
        padding-right: 1rem;
        
         
      @include tablet {
        @include desktab-page-header;
        font-weight: 600;
        padding-left: 2.25rem;
        padding-right: 2.25rem;
      }

      @include desktop{
        padding-bottom: 3rem;
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        
      }
    } 
    

    &-music{
        z-index: 4;
        padding-left: 1rem;
        padding-right: 1rem;
        height: 120px;

        @include tablet{
            padding-left: 2.25rem;
            padding-right: 2.25rem;
            height: 10rem;
            width: 60%;
        }

        @include desktop{
        margin-left: auto;
        margin-right: auto;
        width: 33%;
        padding: 0;
        position: absolute;
        top: 15rem;
        right: 7rem;
        }
    }   
}


.hero{
       
    @include tablet {
        height: 56vh;
        background-size: cover;
        background-position: center bottom;
    }

    @include desktop {
        background-position: top 20% center ;
        background-size: cover;
        height:75vh;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }


    &__overlay{
        display: inline-block;
        background-color: #323232;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        opacity: 0.5;  
        z-index: 2;
        width: 100%;
         height: 100%;
            
    }

   &__title{
       margin: 0;
       color: white;
       z-index: 3;
        padding-left: 1rem;
        padding-right: 1rem;
        
         
      @include tablet {
        @include desktab-page-header;
        font-weight: 600;
        padding-left: 2.25rem;
        padding-right: 2.25rem;
      }

      @include desktop{
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
      }
    } 
    
    
}

