@use 'mixins' as *;


.hero__bio{
    background-image: url(/assets/Images/hero-bio.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
}

.hero__shows{
    background-image: url(/assets/Images/hero-shows.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
}


.hero{
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 1;
    height: 24vh;
    width: 100%;  

    
    
    @include tablet {
        height: 56vh;
        background-size: cover;
        background-position: center bottom;
    }

    @include desktop {
        background-position: top 20% center ;
        background-size: cover;
        height:75vh;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }


    &__overlay{
        display: inline-block;
        background-color: #323232;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        opacity: 0.5;  
        z-index: 2;
        width: 100%;
         height: 24vh;
            
        @include tablet {
            height: 56vh;
        }
        @include desktop{
            height: 75vh;
        }
    }

   &__title{
       margin: 0;
       color: white;
       z-index: 3;
        padding-left: 1rem;
        padding-right: 1rem;
         
      @include tablet {
        @include desktab-page-header;
        font-weight: 600;
        padding-left: 2.25rem;
        padding-right: 2.25rem;
      }

      @include desktop{
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
      }
    } 
    
    
}

.hero-container{
    
}