@use 'mixins' as *;

.hero{
    background-image: url(/assets/Images/hero-bio.jpg);
    background-repeat: no-repeat;
    background-position:center;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 1;
    background-size:cover;
    height: 24vh;
    width: 100%;  

    
    
    @include tablet {
        height: 56vh;
        background-size: cover;
        background-position: center bottom;
    }

    @include desktop {
        background-position: top;
        background-size: cover;
        height: 80vh;
    }


    &__overlay{
        display: inline-block;
        background-color: #323232;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        opacity: 0.5;  
        z-index: 2;
        width: 100%;
         height: 24vh;
            
        @include tablet {
            height: 56vh;
        }
        @include desktop{
            height: 80vh;
        }
    }

   &__title{
       margin: 0;
       color: white;
       z-index: 3;
        padding-left: 1rem;
        padding-right: 1rem;
         
      @include tablet {
        @include desktab-page-header;
        font-weight: 600;
        padding-left: 2.25rem;
        padding-right: 2.25rem;
      }
    } 
    
}