@use './partials/fonts' as *; 
@use './partials/header' as*; 
@use './partials/footer' as*;
@use'./partials/hero' as*;
@use './partials/mixins' as*;

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family:'AvenirNextLTPro';
    
  }


.about {
    padding-left: 1rem;
    padding-right: 1rem;

    @include tablet {
      padding-left: 2.25rem;
      padding-right: 2.25rem;
    }



  &__title{
    @include mobile-text-section-header;
    margin: 0;
    padding-top: 24px;
    padding-bottom: 16px;
    font-weight: 600;

    @include tablet{
      @include desktab-section-header;
      font-weight: 600;
      padding-top: 48px;
      padding-bottom: 36px;
    }
  }

  &-image{
    width: 100%;
    object-position: center;
    object-fit: cover;
    
    @include tablet {
      padding-left: 48px;
      padding-right: 48px;
      height: 350px;
    }
    
  }

  &__quote{
      @include mobile-text-subheader;
      margin: 0;
      padding-top: 16px;

        @include tablet {
          @include desktab-subheader;
          padding-top: 36px;
          padding-left: 48px;
          padding-right: 48px;
        }
  }

  &__quotee{
    margin: 0;
    @include mobile-text-body;
    padding-top: 16px;

      @include tablet {
        font-size: 17px;
        font-weight: 600;
        padding-top: 16px;
        padding-left: 48px;
        padding-right: 48px;
      }
  }

  &__subtitle{
      @include mobile-text-subheader;
      margin: 0;
      padding-top:16px;

      @include tablet {
        @include desktab-subheader;
        padding-top: 48px;
        padding-left: 48px;
        padding-right: 48px;
      }
  }

  &-description{

    @include tablet{
      display: flex;
      padding-left: 48px;
      padding-right: 48px;

    }
  }

  &-description-left{
    @include mobile-text-body;
      margin: 0;
      padding-top:  1rem;

        @include tablet {
          @include desktab-body;
          padding-right:36px;

      }
  }

  &-description-right{
      @include mobile-text-body;
      margin: 0;
      padding-top: 1rem;
      padding-bottom: 0.5rem;
        @include tablet {
          @include desktab-body;
        }
  }
}

.photo-gallery{

      @include tablet {
      padding-left: 18px;
      padding-right: 18px;
  }
    
    &__title{
        @include mobile-text-section-header;
        padding: 1rem;
        margin: 0;

          @include tablet {
            @include desktab-section-header;
            font-weight: 600;
            padding-left: 0;
            padding-right: 0;
          }
    }

    &-container{
        display: flex;
        flex-wrap: wrap;

          @include tablet {
            justify-content: space-around;
          }
    }


    &__image{
        padding: 1rem;
        padding-top: 0;
        width: 100%;

          @include tablet{
            padding: 18px;
            width: 33%;
          }
    }

    &__bottom{
      padding-bottom: 36px;
    }
}