@use './partials/fonts' as *; 
@use './partials/header' as*; 
@use './partials/footer' as*;
@use'./partials/hero' as*;
@use './partials/mixins' as*;

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family:'AvenirNextLTPro';
    
  }

.about {
    padding-left: 1rem;
    padding-right: 1rem;



  &__title{
    @include mobile-text-section-header;
    margin-bottom: 16px;

  }

  &-image{
    width: 100%;
    object-fit: cover;
  }

  &__quote{
      @include mobile-text-subheader;
      margin: 0;
      padding-top: 16px;
  }

  &-description__title{
      @include mobile-text-subheader;
      margin: 0;
      padding-top:16px;
  }

  &-description-left{
    @include mobile-text-body;
      margin: 0;
      padding-top:  1rem;
  }

  &-description-right{
      @include mobile-text-body;
      margin: 0;
      padding-top: 1rem;
      padding-bottom: 0.5rem;
  }
}

.photo-gallery{
    
    &__title{
        @include mobile-text-section-header;
        padding: 1rem;
        margin: 0;
    }

    &-container{
        display: flex;
        flex-wrap: wrap;
    }


    &__image{
        padding: 1rem;
        padding-top: 0;
        width: 100%;
    }

    
}