@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../Font/AvenirNextLTPro-Regular.woff") format("woff"), url("../Font/alternativefiles/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../Font/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../Font/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: 700;
}
.header {
  background-color: #323232;
  background-size: cover;
  width: 100%;
  display: flex;
  color: white;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    flex-direction: row;
  }
}
.header__title {
  font-weight: 400;
  line-height: 32px;
  font-family: "AvenirNextLTPro";
  font-size: 24px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .header__title {
    align-items: center;
    padding-right: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .header__title {
    align-items: center;
  }
}
.header-list-container {
  display: flex;
  padding-inline-start: 0px;
  margin: 0;
  justify-content: space-around;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header-list-container {
    margin-bottom: 0rem;
  }
}
.header__list {
  list-style: none;
  font-size: 14px;
  line-height: 22px;
}
@media screen and (min-width: 1280px) {
  .header__list {
    padding-right: 48px;
  }
}

.footer {
  background-color: #323232;
  background-size: cover;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
  padding-left: 1rem;
}
.footer__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
.footer-social-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.footer__icons {
  margin-right: 2rem;
  margin-bottom: 1rem;
}
.footer-container__contact {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .footer-container__contact {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
}
.footer__logo {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 0;
}
.footer__copyright {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.hero {
  background-image: url(/assets/Images/hero-bio.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  z-index: 1;
  background-size: cover;
  height: 33vh;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 90vh;
  }
}
.hero__overlay {
  background-color: #323232;
  background-size: cover;
  position: absolute;
  opacity: 0.5;
  z-index: 2;
  width: 100%;
  height: 33vh;
}
@media screen and (min-width: 768px) {
  .hero__overlay {
    height: 80vh;
  }
}
.hero__title {
  margin: 0;
  color: white;
  z-index: 3;
  padding-left: 1rem;
  padding-right: 1rem;
}
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "AvenirNextLTPro";
}

.about {
  padding-left: 1rem;
  padding-right: 1rem;
}
.about__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin-bottom: 16px;
}
.about-image {
  width: 100%;
  object-fit: cover;
}
.about__quote {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  margin: 0;
  padding-top: 16px;
}
.about-description__title {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  margin: 0;
  padding-top: 16px;
}
.about-description-left {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  margin: 0;
  padding-top: 1rem;
}
.about-description-right {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.photo-gallery__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  padding: 1rem;
  margin: 0;
}
.photo-gallery-container {
  display: flex;
  flex-wrap: wrap;
}
.photo-gallery__image {
  padding: 1rem;
  padding-top: 0;
  width: 100%;
}/*# sourceMappingURL=bio.css.map */