@use './partials/fonts' as *; 
@use './partials/header' as*; 
@use './partials/footer' as*;
@use'./partials/hero' as*;
@use './partials/mixins' as*;
@use './partials/variables' as*;
@use './partials/global' as*;

.about {
    padding-left: 1rem;
    padding-right: 1rem;
    color: $bandsite-black;

    @include tablet {
      padding-left: 2.25rem;
      padding-right: 2.25rem;
    }

    @include desktop {
      padding-left: 0;
      padding-right: 0;
    }



  &__title{
    @include mobile-text-section-header;
    margin: 0;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    font-weight: 600;

    @include tablet{
      @include desktab-section-header;
      font-weight: 600;
      padding-top: 3rem;
      padding-bottom: 2.25rem;
    }

    @include desktop{
      margin-left: auto;
      margin-right: auto;
      width: 80%;
    }
  }

  &__image{
    width: 100%;
    object-position: center;
    object-fit: cover;
    
    @include tablet {
      padding-left: 3rem;
      padding-right: 3rem;
      height: 350px;
    }

    @include desktop {
      padding-left: 0;
      padding-right: 0;
      margin-left: auto;
      margin-right: auto;
      width: 66%;
      display: flex;
      justify-content: center;
      align-items: center;
      height:28.125rem;
    }
    
  }

  &__quote{
      @include mobile-text-subheader;
      margin: 0;
      padding-top: 1rem;

        @include tablet {
          @include desktab-subheader;
          padding-top: 2.25rem;
          padding-left: 2.25rem;
          padding-right: 2.25rem;
        }

        @include desktop {
          padding-left: 0;
          padding-right: 8rem;
          margin-left: auto;
          margin-right: auto;
          width: 66%;
        }
  }

  &__quotee{
    margin: 0;
    @include mobile-text-body;
    font-weight: 600;
    padding-top: 1rem;

      @include tablet {
        font-size: 17px;
        font-weight: 600;
        padding-top: 1rem;
        padding-left: 2.25rem;
        padding-right: 2.25rem;
      }

      @include desktop{
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 66%;
      }
  }

  &__subtitle{
      @include mobile-text-subheader;
      margin: 0;
      padding-top: 1rem;

      @include tablet {
        @include desktab-subheader;
        padding-top: 2.25rem;
        padding-left: 2.25rem;
        padding-right: 2.25rem;
      }

      @include desktop{
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 66%;
      }
  }

  &-description{

    @include tablet{
      display: flex;
      padding-left: 2.25rem;
      padding-right: 2.25rem;
      padding-bottom: 2.25rem;

    }

    @include desktop{
      padding-left: 0;
      padding-right: 0;
      margin-left: auto;
      margin-right: auto;
      width: 66%;
    }
  }

  &-description-left{
    @include mobile-text-body;
      margin: 0;
      padding-top:  1rem;

        @include tablet {
          @include desktab-body;
          padding-right: 2.25rem;

      }

  }

  &-description-right{
      @include mobile-text-body;
      margin: 0;
      padding-right: 2.25rem;
      padding-top: 1rem;
      padding-bottom: 0.5rem;
        @include tablet {
          @include desktab-body;
        }

        @include desktop{
          padding-right: 0;
        }
  }
}

.photo-gallery{ 
  background-color: #fafafa;

      @include tablet {
      padding-left: 2.25rem;
      padding-right: 20px;
  }

    @include desktop{
      padding-left: 0;
      padding-right: 0;
    }
    
    &__title{
        @include mobile-text-section-header;
        padding: 1rem;
        margin: 0;

          @include tablet {
            @include desktab-section-header;
            font-weight: 600;
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 2.25rem;
            padding-top: 3rem;
          }

          @include desktop{
            margin-left: auto;
            margin-right: auto;
            width: 80%;
            padding-left: 0;
            padding-right: 0;
          }
    }

    &-container{
        display: flex;
        flex-wrap: wrap;

          @include tablet {
            justify-content: space-around;
          }

          @include desktop{
            margin-left: auto;
            margin-right: auto;
            width: 80%;
          }
    }


    &__image{
        padding: 1rem;
        padding-top: 0;
        width: 100%;

          @include tablet{
            padding-left: 0;
           padding-right: 1rem;
           padding-bottom: 1rem;
            width: 33%;
          }
    }

    &__bottom{
      padding-bottom: 2.25rem;
    }
}